@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
  font-family: 'Merriweather', serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.hr {
  width: 100%;
  margin: 1rem 0;
  border-top-color: #eee;
  border-bottom: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}


// ----------LANDING PAGE STYLES

#landing_background {
  position: relative;
  display: table;
  background-image: url('../images/cooking_party.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#landing_name {
  margin-top: 30%;
  color: rgba(251, 248, 237, 0.9);
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#landing_name:hover {
  color: rgba(180, 255, 153, 0.8);
  cursor: pointer;
}
#landing_a:hover {
  text-decoration: none
}


// ----------MASTHEAD STYLES

.masthead-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-transform: uppercase;
}
.masthead-lead {
  font-size: 1.2em;
}
.masthead-nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: .75rem;
}
.masthead-nav .nav-item {
  margin-bottom: .75rem;

}
.masthead-nav .nav-item-active {
  .link {
    color: rgb(0, 0, 0);
  }
  .link:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}


.link {
  color: rgb(130, 130, 130);
  // margin: 5px 5px 5px 5px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.link:hover {
  text-decoration: none;
  color: rgb(191, 55, 100);
}
.img-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.img-container img{
  margin: auto;
}
@media (min-width: 768px) {
  .masthead {
          position: fixed;
          width: 16.66666666%;
  }
  .content {
          float: right;
          width: 83.33333333%
  }
}
@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .masthead-lead {
    text-align: center;
  }
}
p {
    text-indent: 50px;
}
