---
title: Hilary Hutler - Chef
---

<div>
  <div class="masthead">
    <h1 class="masthead-title">Hilary Hutler</h1>
    <p class="masthead-lead">Recipe developer, food stylist, exceptional chef.</p>

    <hr class="masthead-hr">

    <ul class="masthead-nav">
      <li class="nav-item nav-item-active"><a class="nav-link " href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Work</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Collaborations</a></li>
      <li class="nav-item"><a class="nav-link" href="/">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Contact</a></li>
    </ul>

    <hr class="masthead-hr">

  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6"><img src="images/potroast.jpg" alt="" /></div>
				<div class="col-lg-6"><img src="images/salad.jpg" alt="" /></div>
      </div>
					<img src="images/fries.jpg" alt="" />
					<img src="images/shrimpsalad.jpg" alt="" />
					<img src="images/marinade.jpg" alt="" />
					<img src="images/harvest.jpg" alt="" />


  			<section id="two">
  				<div class="container">
  					<h3>Expertise</h3>
  					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
  					<ul class="feature-icons">
  						<li class="fa-hand-o-right">Recipe creation</li>
  						<li class="fa-hand-o-right">Blogging</li>
  						<li class="fa-hand-o-right">Food Styling</li>
  						<li class="fa-hand-o-right">Ingredient focus</li>
  						<li class="fa-hand-o-right">How-to's</li>
  						<li class="fa-hand-o-right">Cooking demos</li>
  					</ul>
  				</div>
  			</section>

  			<section id="three">
  				<div class="container">
  					<h3>Contact Me</h3>
  					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
  					<form method="post" action="#">
  						<div class="row uniform">
  							<div class="6u 12u(3)"><input type="text" name="name" id="name" placeholder="Name" /></div>
  							<div class="6u 12u(3)"><input type="email" name="email" id="email" placeholder="Email" /></div>
  						</div>
  						<div class="row uniform">
  							<div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
  						</div>
  						<div class="row uniform">
  							<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
  						</div>
  						<div class="row uniform">
  							<div class="12u">
  								<ul class="actions">
  									<li><input type="submit" class="special" value="Send Message" /></li>
  									<li><input type="reset" value="Reset Form" /></li>
  								</ul>
  							</div>
  						</div>
  					</form>
  				</div>
  			</section>

  			<section id="footer">
  				<div class="container">
  					<ul class="copyright">
  						<li>&copy; 2015 Hilary Finch Hutler. All rights reserved.</li>
  					</ul>
  				</div>
  			</section>

  		</div>
  </div>
  </div>
