---
title: Hilary Hutler - Chef
---
<div class="container-fluid">
  <div class="row">

    <div class="masthead col-sm-2">
      <div class="img-container">
        <img class="img-responsive" src="images/pozole.jpg" alt="" />
      </div>
      <h1 class="masthead-title">Hilary Hutler</h1>
      <p class="masthead-lead">Recipe sorceress, food stylist, exceptional chef.</p>

      <hr class="hr hidden-xs">

      <ul class="masthead-nav hidden-xs">
        <li class="nav-item"><a class="link" href="home.html#work">Work</a></li>
        <li class="nav-item"><a class="link" href="home.html#collaborations">Collaborations</a></li>
        <li class="nav-item"><a class="link" href="home.html#contact">Contact</a></li>
      </ul>

      <hr class="masthead-hr hidden-xs">

    </div>

    <div class="content col-sm-10" id="main-panel">
      <br id="work">
      <h3>Work (What I Do)</h3>
			<ul class="list-unstyled">
				<li>Recipe Development</li></a>
				<li>Food Writing</li></a>
				<li>Social Media</li></a>
				<li>Food Styling(&amp; Photography)</li></a>
				<li>Menu Creation(Development)</li></a>
				<li>Personal Chef</li></a>
      </ul>

      <div class="row">
        <div class="col-sm-4 img-container">
          <img class="img-responsive" src="images/drink.jpg" alt="" />
        </div>
				<div class="col-sm-4 img-container">
          <img class="img-responsive" src="images/lemons.jpg" alt="" />
        </div>
				<div class="col-sm-4 img-container">
          <img class="img-responsive" src="images/peru_taco.jpg" alt="" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 img-container">
					<img class="img-responsive" src="images/salad.jpg" alt="" />
        </div>
        <div class="col-sm-6 img-container">
					<img class="img-responsive" src="images/calzone.jpg" alt="" />
        </div>
      </div>

      <hr class="hr" id="collaborations">

      <h3>Collaborations</h3>
			<ul class="list-unstyled">
				<a class="link" href="http://perfecthealthdiet.com/2013/01/hilary-finch-hutler-on-how-phd-simplifies-cooking-four-beef-variations/">
          <li>Perfect Health Diet</li>
        </a>
				<a class="link" href="http://stalkerville.net/profile/tummyrumblr/">
          <li>Chowstalker</li>
        </a>
				<a class="link" href="http://tummyrumblr.com/">
          <li>Tummy Rumblr</li>
        </a>
				<a class="link" href="http://usapears.org/search-recipes/">
          <li>Pear Burea NW</li>
        </a>
				<a class="link" href="http://healthyaperture.com/author/tummyrumblr/">
          <li>Healthy Aperture</li>
        </a>
      </ul>

      <br>

      <iframe src="https://player.vimeo.com/video/145199432" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <div class="row">
        <div class="col-sm-6 img-container">
					<img class="img-responsive" src="images/shaved_pear.jpg" alt="" />
        </div>
        <div class="col-sm-6 img-container">
					<img class="img-responsive" src="images/crabcakes.jpg" alt="" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 img-container">
          <img class="img-responsive" src="images/anise_pear.jpg" alt="" />
        </div>
				<div class="col-sm-4 img-container">
          <img class="img-responsive" src="images/spread.jpg" alt="" />
        </div>
				<div class="col-sm-4 img-container">
          <img class="img-responsive" src="images/tart.jpg" alt="" />
        </div>
      </div>

      <hr class="hr" id="contact">

    	<h3 >Contact Me</h3>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <form action="//formspree.io/hilaryfinch+homepage-form@gmail.com" method="POST">

                <input type="hidden" name="_next" value="//site.io/thanks.html" />
                <input class="gotcha" type="text" name="_gotcha" style="display:none" />

                <div class="form-group">
                  <label for="email1">Email address</label>
                  <input type="email" class="form-control" id="email" name="_replyto">
                </div>
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input type="text" class="form-control" id="subject" name="_subject">
                </div>
                <div class="form-group">
                  <label for="body">Message</label>
                  <textarea class="form-control" rows="4" class="form-control" id="body" name="name"></textarea>
                </div>
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-envelope"></span>
                  SUBMIT
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>


      <hr class="hr" id="contact">

      <div class="footer">
        <p><small>&copy; 2015 Hilary Hutler. All rights reserved. Website by <a href="http://www.rhinostick.com">Gabe Finch</a>.</small></p>
      </div>
    </div>
  </div>
</div>
